*.iml
.gradle
/local.properties
/gradle.properties
/google-services.json
/G-Play_Intergrity_Api.json
/firebase.json
/firestore.indexes.json
/MapsApiKey.json
/AI_ML_ApiKey.json
/AppKeyStore
/firestore.rules
/.firebaserc
/app/google-services.json
/my-firebase-admin-app
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
