# Ignore all .iml files (IntelliJ/Android Studio module files)
*.iml

# Gradle-related files
.gradle/
local.properties
gradle.properties

# Firebase and API keys (sensitive information)
google-services.json
G-Play_Intergrity_Api.json
firebase.json
firestore.indexes.json
MapsApiKey.json
AI_ML_ApiKey.json
AppKeyStore/
firestore.rules
.firebaserc
app/google-services.json
my-firebase-admin-app/

# Android Studio/IDE specific files
.idea/caches/
.idea/AndroidProjectSystem.xml
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/assetWizardSettings.xml

# macOS specific
.DS_Store

# Build outputs (do not commit compiled files)
build/
build-logic/.kotlin/errors
captures/
.externalNativeBuild/
.kotlin/sessions/u
.cxx/

# Scripts
.update_repos.sh
.updategitremotes.sh

# Misc
dependencies_tree.txt
dependency_tree.txt
java_pid4268.hprof
*.apk
*.mp4
large_assets/

