
# Gradle-related files
.gradle/
local.properties
gradle.properties

# Firebase and API keys (sensitive information)
G-Play_Intergrity_Api.json
firebase.json
firestore.indexes.json
MapsApiKey.json
AI_ML_ApiKey.json
firestore.rules
.firebaserc
my-firebase-admin-app/

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle.kts
*.iml
.idea/*
!.idea/copyright
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml

# macOS specific
.DS_Store

# Build outputs (do not commit compiled files)
build/
build-logic/.kotlin/errors
captures/
.externalNativeBuild/
.kotlin/sessions/u
.cxx/

# Misc
dependencies_tree.txt
dependency_tree.txt
java_pid4268.hprof
*.apk
*.mp4
*.hprof
*.log
large_assets/

